@model CountriesViewModel
@{
    ViewData["Title"] = "Demography Info";
}
<h1>@ViewData["Title"]</h1>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                Tag
            </th>
            <th>
                Played By
            </th>
            <th>
                Total Pops
            </th>
            <th>
                Religious Unity
            </th>
            <th>
                Disloyal Pops
            </th>
            <th>
                Disloyal Pops (%)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Countries)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPopulation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReligiousUnity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisloyalPops)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisloyaltyPercentage)
            </td>
        </tr>
    }
    </tbody>
</table>
