@model CountriesViewModel
@{
    ViewData["Title"] = "Demography Info";
}
<h1>@ViewData["Title"]</h1>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                Tag
            </th>
            <th>
                Country
            </th>
            <th>
                Played By
            </th>
            <th>
                Total Pops
            </th>
            <th>
                Total Provinces
            </th>
            <th>
                Settlements
            </th>
            <th style="min-width: 95px;">
                Cities
            </th>
            <th>
                Metropolis
            </th>
            <th>
                Population Density
            </th>
            <th>
                Average Civilization
            </th>
            <th>
                Urbanization (%)
            </th>
            <th>
                Total Buildings
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Countries)
    {
        <tr>
            <td>
                @item.Tag
            </td>
            <td>
                @item.Name?.Name
            </td>
            <td>
                @item.PlayedBy
            </td>
            <td>
                @item.TotalPopulation.ToString("N0")
            </td>
            <td>
                @item.TotalProvinces.ToString("N0")
            </td>
            <td>
                @item.TotalSettlements.ToString("N0") (@item.SettlementsPercentage.ToString("P0"))
            </td>
            <td>
                @item.TotalCities.ToString("N0") (@item.CitiesPercentage.ToString("P0"))
            </td>
            <td>
                @item.TotalMetropolis.ToString("N0") (@item.MetropolisPercentage.ToString("P0"))
            </td>
            <td>
                @item.PopulationDensity.ToString("N1")
            </td>
            <td>
                @item.AverageCivilization.ToString("N1")
            </td>
            <td>
                @item.UrbanizationRate.ToString("p1")
            </td>
            <td>
                @item.TotalBuildings.ToString("N0")
            </td>
        </tr>
    }
    </tbody>
</table>
