@model CountriesViewModel
@{
    ViewData["Title"] = "Economy Info";
}
<h1>@ViewData["Title"]</h1>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                Tag
            </th>
            <th>
                Played By
            </th>
            <th>
                Average Income
            </th>
            <th>
                Gold
            </th>
            <th>
                Last Month Income
            </th>
            <th>
                Accumulated Gold
            </th>
            <th>
                Spent Gold
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Countries)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AveragedIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastMonthIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccumulatedGold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpentGold)
            </td>
        </tr>
    }
    </tbody>
</table>
