@model CountriesViewModel
@{
    ViewData["Title"] = "Economy Info";
}
<h1>@ViewData["Title"]</h1>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                Tag
            </th>
            <th>
                Played By
            </th>
            <th>
                Average Income
            </th>
            <th>
                Gold
            </th>
            <th>
                Last Month Income
            </th>
            <th>
                Last Month Expense
            </th>
            <th>
                Last Month Net Earning
            </th>
            <th>
                Accumulated Gold
            </th>
            <th>
                Spent Gold
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Countries)
    {
        <tr>
            <td>
                @item.Tag
            </td>
            <td>
                @item.PlayedBy
            </td>
            <td>
                @item.AveragedIncome.ToString("N1")
            </td>
            <td>
                @item.Gold.ToString("N0")
            </td>
            <td>
                @item.LastMonthIncome.ToString("N1")
            </td>
            <td>
                @item.LastMonthExpense.ToString("N1")
            </td>
            <td>
                @item.LastMonthNetEarnings.ToString("N1")
            </td>
            <td>
                @item.AccumulatedGold.ToString("N0")
            </td>
            <td>
                @item.SpentGold.ToString("N0")
            </td>
        </tr>
    }
    </tbody>
</table>
