@model FactsViewModel
@{
    ViewData["Title"] = "Global Facts";
}
<h1>@ViewData["Title"]</h1>

<div>
    <span>
        Total pops:
    </span>
    <span>
        @Model.TotalPops.ToString("N0")
    </span>
</div>
<div>
    <span>
        Growing pops:
    </span>
    <span>
        @Model.GrowingPops.ToString("N0")
    </span>
</div>
<div>
    <span>
        Total provinces:
    </span>
    <span>
        @Model.TotalProvinces.ToString("N0")
    </span>
</div>
<div>
    <span>
        Most populated settlement:
    </span>
    <span>
        @Model.MostPopulatedSettlement?.Name?.Name (@Model.MostPopulatedSettlementPops.ToString("N0") pops)
    </span>
</div>
<div>
    <span>
        Most populated city:
    </span>
    <span>
        @Model.MostPopulatedCity?.Name?.Name (@Model.MostPopulatedCityPops.ToString("N0") pops)
    </span>
</div>
<div>
    <span>
        Most populated metropolis:
    </span>
    <span>
        @Model.MostPopulatedMetropolis?.Name?.Name (@Model.MostPopulatedMetropolisPops.ToString("N0") pops)
    </span>
</div>
<div>
    <span>
        Province with most buildings:
    </span>
    <span>
        @Model.MostBuildingsProvince?.Name?.Name (@Model.MostBuildingsProvince?.TotalBuildings)
    </span>
</div>
<div>
    <span>
        Most spread religion:
    </span>
    <span>
        @Model.MostSpreadReligion.Religion?.Name (@Model.MostSpreadReligion.PopsCount.ToString("N0") pops, @Model.MostSpreadReligionPercent.ToString("P1") of the world)
    </span>
</div>
<div>
    <span>
        Most common culture:
    </span>
    <span>
        @Model.MostCommonCultureGrouping.Culture?.Name (@Model.MostCommonCultureGrouping.PopsCount.ToString("N0") pops, @Model.MostCommonCulturePercent.ToString("P1") of the world)
    </span>
</div>
<div>
    <span>
        Citizen Pops:
    </span>
    <span>
        @Model.CitizenPops.ToString("N0") (@Model.CitizenPopsPercent.ToString("P1"))
    </span>
</div>
<div>
    <span>
        Freemen Pops:
    </span>
    <span>
        @Model.FreemenPops.ToString("N0") (@Model.FreemenPopsPercent.ToString("P1"))
    </span>
</div>
<div>
    <span>
        Tribesmen Pops:
    </span>
    <span>
        @Model.TribesmenPops.ToString("N0") (@Model.TribesmenPopsPercent.ToString("P1"))
    </span>
</div>
<div>
    <span>
        Slave Pops:
    </span>
    <span>
        @Model.SlavePops.ToString("N0") (@Model.SlavePopsPercent.ToString("P1"))
    </span>
</div>
<div>
    <span>
        Total Gold:
    </span>
    <span>
        @Model.TotalGold.ToString("N0")
    </span>
</div>
<div>
    <span>
        Total Gold Generated Last Month:
    </span>
    <span>
        @Model.TotalGoldLastMonth.ToString("N0")
    </span>
</div>
<div>
    <span>
        Total Gold Spent Last Month:
    </span>
    <span>
        @Model.TotalGoldSpentLastMonth.ToString("N0")
    </span>
</div>
<div>
    <span>
        Global Gold Net Increase Last Month:
    </span>
    <span>
        @Model.TotalNetGoldLastMonth.ToString("N0")
    </span>
</div>
<div>
    <span>
        Total Gold Spent in history:
    </span>
    <span>
        @Model.TotalSpentGold.ToString("N0")
    </span>
</div>