@model GamesListViewModel
@{
    ViewData["Title"] = "Games";
}
<h1>@ViewData["Title"]</h1>
@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        @Model.Message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>   
}
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                Game Id
            </th>
            <th>
                Game Name
            </th>
            <th>
                Is public?
            </th>
            <th>
                Saves No.
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Games)
    {
        <tr>
            <td>
                @item.GameId
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.IsPublicString
            </td>
            <td>
                @item.Saves.Count
            </td>
            <td>
                @* ReSharper disable once UnknownCssClass *@
                <a asp-controller="Home" asp-action="Game" asp-route-id="@item.GameId"><i class="material-icons">remove_red_eye</i></a>
            </td>
        </tr>
    }
    </tbody>
</table>
