@model CountriesViewModel
@{
    ViewData["Title"] = "Military Info";
}
<h1>@ViewData["Title"]</h1>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                Tag
            </th>
            <th>
                Played By
            </th>
            <th>
                Total Cohorts
            </th>
            <th>
                Monthly Manpower
            </th>
            <th>
                Max Manpower
            </th>
            <th>
                Last battle won
            </th>
            <th>
                Last war
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Countries)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCohorts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyManpower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxManpower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastBattleWon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastWar)
            </td>
        </tr>
    }
    </tbody>
</table>
