@model CountriesViewModel
@{
    ViewData["Title"] = "Military Info";
}
<h1>@ViewData["Title"]</h1>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                Tag
            </th>
            <th>
                Country
            </th>
            <th>
                Played By
            </th>
            <th>
                Total Cohorts
            </th>
            <th>
                Total Ships
            </th>
            <th>
                Monthly Manpower
            </th>
            <th>
                Manpower
            </th>
            <th>
                Max Manpower
            </th>
            <th>
                Total Mil Exp
            </th>
            <th>
                Avg. Army Experience
            </th>
            <th>
                Avg. Army Morale
            </th>
            <th>
                Avg. Army Strength
            </th>
            <th>
                Mercenary (%)
            </th>
            <th>
                Clan (%)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Countries)
    {
        <tr>
            <td>
                @item.Tag
            </td>
            <td>
                @item.Name?.Name
            </td>
            <td>
                @item.PlayedBy
            </td>
            <td>
                @item.TotalCohorts.ToString("N0")
            </td>
            <td>
                @item.TotalNavalCohorts.ToString("N0")
            </td>
            <td>
                @item.MonthlyManpower.ToString("N2")
            </td>
            <td>
                @item.Manpower.ToString("N1")
            </td>
            <td>
                @item.MaxManpower.ToString("N1")
            </td>
            <td>
                @item.TotalMilitaryExperience.ToString("N0")
            </td>
            <td>
                @item.AverageArmyExperience.ToString("N1")
            </td>
            <td>
                @item.AverageArmyMorale.ToString("N2")
            </td>
            <td>
                @item.AverageArmyStrength.ToString("P1")
            </td>
            <td>
                @item.MercenaryPercent.ToString("P0")
            </td>
            <td>
                @item.ClanPercent.ToString("P0")
            </td>
        </tr>
    }
    </tbody>
</table>
