@model SaveViewModel
@{
    ViewData["Title"] = "Save";
}
    <h1>@ViewData["Title"] @Html.ViewData.Model.Save.SaveId</h1>
<h2>@Html.ViewData.Model.Save.Date.ToShortDateString()</h2>
<a asp-action="Economy" asp-route-id="@Html.ViewData.Model.Save.SaveId">Economy</a>
<a asp-action="Demography" asp-route-id="@Html.ViewData.Model.Save.SaveId">Demography</a>
<a asp-action="Military" asp-route-id="@Html.ViewData.Model.Save.SaveId">Military</a>
<a asp-action="Technology" asp-route-id="@Html.ViewData.Model.Save.SaveId">Technology</a>
<a asp-action="Facts" asp-route-id="@Html.ViewData.Model.Save.SaveId">Facts</a>
<a asp-action="Religion" asp-route-id="@Html.ViewData.Model.Save.SaveId">Religion</a>
<a asp-action="Culture" asp-route-id="@Html.ViewData.Model.Save.SaveId">Culture</a>
<a asp-action="TradeGoods" asp-route-id="@Html.ViewData.Model.Save.SaveId">Trade goods</a>
<a asp-action="ArmyComposition" asp-route-id="@Html.ViewData.Model.Save.SaveId">Army composition</a>
