@model SavesListViewModel
@{
    ViewData["Title"] = "Saves";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData.Model.Message</h2>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Saves[0].SaveId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saves[0].SaveKey)
            </th>
            <th>
               
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Saves)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SaveId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaveKey)
            </td>
            <td>
                <a asp-controller="Home" asp-action="Save" asp-route-id="@item.SaveId">View</a>
            </td>
        </tr>
        }
    </tbody>
</table>
