@model SaveViewModel
@{
    ViewData["Title"] = "Save";
}
<h1>@ViewData["Title"]</h1>
<h2>@Html.ViewData.Model.Save.SaveId</h2>
<p>Save date: @Html.ViewData.Model.Save.Date.ToShortDateString()</p>
<a asp-action="Economy" asp-route-id="@Html.ViewData.Model.Save.SaveId">Economy</a>
<a asp-action="Demography" asp-route-id="@Html.ViewData.Model.Save.SaveId">Demography</a>
<a asp-action="Military" asp-route-id="@Html.ViewData.Model.Save.SaveId">Military</a>
<a asp-action="Technology" asp-route-id="@Html.ViewData.Model.Save.SaveId">Technology</a>
