@model SavesListViewModel
@{
    ViewData["Title"] = "Saves";
}
<h1>@ViewData["Title"]</h1>
@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        @Model.Message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>   
}
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                Save Id
            </th>
            <th>
                Save Key
            </th>
            <th>
               
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Saves)
    {
        <tr>
            <td>
                @item.SaveId
            </td>
            <td>
                @item.SaveKey
            </td>
            <td>
                @* ReSharper disable once UnknownCssClass *@
                <a asp-controller="Home" asp-action="Save" asp-route-id="@item.SaveId"><i class="material-icons">remove_red_eye</i></a>
            </td>
        </tr>
    }
    </tbody>
</table>
