@model SaveViewModel
@{
    ViewData["Title"] = "Save";
}
    <h1>@ViewData["Title"] @Model.Save.SaveId</h1>
<h2>@Model.Save.Date.ToShortDateString()</h2>
<ul>
    <li><a asp-action="Economy" asp-route-id="@Model.Save.SaveId" asp-route-hash="@Model.Save.Game?.PasswordHash">Economy</a></li>
    <li><a asp-action="DemographyProvinces" asp-route-id="@Model.Save.SaveId" asp-route-hash="@Model.Save.Game?.PasswordHash">Demography (Provinces)</a></li>
    <li><a asp-action="DemographyPops" asp-route-id="@Model.Save.SaveId" asp-route-hash="@Model.Save.Game?.PasswordHash">Demography (Pops)</a></li>
    <li><a asp-action="Military" asp-route-id="@Model.Save.SaveId" asp-route-hash="@Model.Save.Game?.PasswordHash">Military</a></li>
    <li><a asp-action="Technology" asp-route-id="@Model.Save.SaveId" asp-route-hash="@Model.Save.Game?.PasswordHash">Technology</a></li>
    <li><a asp-action="Facts" asp-route-id="@Model.Save.SaveId" asp-route-hash="@Model.Save.Game?.PasswordHash">Facts</a></li>
    <li><a asp-action="Religion" asp-route-id="@Model.Save.SaveId" asp-route-hash="@Model.Save.Game?.PasswordHash">Religion</a></li>
    <li><a asp-action="Culture" asp-route-id="@Model.Save.SaveId" asp-route-hash="@Model.Save.Game?.PasswordHash">Culture</a></li>
    <li><a asp-action="TradeGoods" asp-route-id="@Model.Save.SaveId" asp-route-hash="@Model.Save.Game?.PasswordHash">Trade goods</a></li>
    <li><a asp-action="ArmyComposition" asp-route-id="@Model.Save.SaveId" asp-route-hash="@Model.Save.Game?.PasswordHash">Army composition</a></li>
    <li><a asp-action="NavyComposition" asp-route-id="@Model.Save.SaveId" asp-route-hash="@Model.Save.Game?.PasswordHash">Navy composition</a></li>
</ul>

