@model CountriesViewModel
@{
    ViewData["Title"] = "Technology Info";
}
<h1>@ViewData["Title"]</h1>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                Tag
            </th>
            <th>
                Country
            </th>
            <th>
                Played By
            </th>
            <th>
                Ideas
            </th>
            <th>
                Average Tech
            </th>
            <th>
                Military Tech
            </th>
            <th>
                Military Progress
            </th>
            <th>
                Civic Tech
            </th>
            <th>
                Civic Progress
            </th>
            <th>
                Oratory Tech
            </th>
            <th>
                Oratory Progress
            </th>
            <th>
                Religious Tech
            </th>
            <th>
                Religious Progress
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Countries)
    {
        <tr>
            <td>
                @item.Tag
            </td>
            <td>
                @item.Name?.Name
            </td>
            <td>
                @item.PlayedBy
            </td>
            <td>
                @item.TotalInventions.ToString("N0")
            </td>
            <td>
                @item.AverageTechLevel.ToString("N2")
            </td>
            <td>
                @item.MilitaryTechnology.Level
            </td>
            <td>
                @item.MilitaryTechnology.Progress.ToString("N1")
            </td>
            <td>
                @item.CivicTechnology.Level
            </td>
            <td>
                @item.CivicTechnology.Progress.ToString("N1")
            </td>
            <td>
                @item.OratoryTechnology.Level
            </td>
            <td>
                @item.OratoryTechnology.Progress.ToString("N1")
            </td>
            <td>
                @item.ReligiousTechnology.Level
            </td>
            <td>
                @item.ReligiousTechnology.Progress.ToString("N1")
            </td>
        </tr>
    }
    </tbody>
</table>
